@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<section class="wow fadeIn cover-background" style="background-image:url('http://placehold.it/1902x974');">
    <div class="opacity-medium bg-dark-gray"></div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-5 col-sm-6 center-col text-center">
                <p class="title-large text-uppercase letter-spacing-1 white-text font-weight-600">Let's work together on your next project</p>
                <a class="btn-small-white btn btn-medium inner-link" href="#contact-form">Request a free quote</a>
            </div>
        </div>
    </div>
</section>

<section id="contact-form" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <p class="text-med text-uppercase letter-spacing-1 black-text font-weight-600">Contact Form</p>
                <p class="text-med">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p class="text-med">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md-6 col-sm-6  col-md-offset-2">
                <form id="contactusform" action="javascript:void(0)" method="post">
                    <div id="success" class="no-margin-lr"></div>
                    <input name="name" type="text" placeholder="Your Name" />
                    <input name="email" type="text" placeholder="Your Email" />
                    <textarea placeholder="Your Message" name="comment"></textarea>
                    <button id="contact-us-button" type="submit" class="highlight-button-dark btn btn-small button xs-margin-bottom-five">Send message</button>
                </form>
            </div>
        </div>
    </div>
</section>