@page
@model IndexModel
@{
    ViewData["Title"] = "AppGis";
}

<!-- parallax -->
<section class="parallax1 parallax-fix full-screen no-padding">
    <img class="parallax-background-img" src="~/images/world-map.jpg" alt="" />
    <div class="container full-screen position-relative">
        <div class="slider-typography">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle slider-text-middle2 animated fadeInUp">
                    <div class="separator-line bg-black sm-margin-bottom-seven"></div>
                    <span class="slider-subtitle2 black-text">A picture is worth a thousand words</span>
                    <span class="slider-subtitle2 black-text">A Map is worth a thousand pictures.</span>
                    <a class="btn-black btn margin-six inner-link" href="#features">What We Do!</a>
                    <a class="btn-black btn margin-six inner-link" href="#features">How Contact Us!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-down"><a href="#features" class="inner-link"><i class="fa fa-angle-down bg-black white-text"></i></a></div>
</section>
<!-- end parallax -->
<!-- content section -->
<section id="features" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInUp">
                <h3 class="section-title">Why Choose Us?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="300ms">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-desktop  medium-icon "></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>Elegant / Unique design</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                    </div>
                </div>
                <div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="300ms">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-target  medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>True Responsiveness</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="features-section col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="600ms">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-trophy medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>Parallax Slider</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                    </div>
                </div>
                <div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="600ms">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-scissors medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>Lightbox photo Gallery</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="features-section no-bottom-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="900ms">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-hotairballoon medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>Different Layout Type</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                    </div>
                </div>
                <div class="features-section no-margin col-md-12 col-sm-6 no-padding wow fadeInUp" data-wow-duration="900ms">
                    <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-tools medium-icon"></i></div>
                    <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                        <h5>Skills and Accordians</h5>
                        <div class="separator-line bg-yellow"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end content section -->
