#drawingContainer {
    display: inline-block;
    position: relative;
    padding: 20px;
}


#drawingSvg {
    width: 451px;
    height: 451px;
}

.square{
    stroke-width:0.5px;
    stroke:#A0A0A0;
}

.text{
    stroke-width:0.1px;
    stroke:#555;
}

.point-rect {
    fill: transparent;
}

.point-active, .point-rect:hover {
    fill: #00AAFF;
}

.line {
    stroke: #00AAFF;
    stroke-width: 5px;
}