#modal-container .ant-btn-primary:not([disabled]) {
    background-color: #096dd9;
    color: rgb(222, 235, 255)!important;
  }

#modal-container .ant-btn-primary:not([disabled]) i {
    color: rgb(222, 235, 255)!important;
}

#modal-container .ant-list-item {
    padding: 10px;
}

#modal-container label {
  font-size: 12px;
  font-weight: 600;
  color: rgb(66, 82, 110)!important;
}

.modal-processing input:not([role="combobox"]), .modal-processing nz-select {
    font-size: 11px;
    font-weight: 600;
    color: rgb(66, 82, 110)!important;
    width: 100%;
    text-transform:capitalize;
  }

  

.modal-processing {
    padding: 25px;
    text-align: left;
    width: 350px;
}