
.layergrid-wrap {
    bottom: -900px;
    margin-left: 630px;
    display: block;
    font-size: 1.15em;
    right: 0;
    padding: 0px;
    position: fixed;
    width: calc(100% - 630px);
    height: 70%;
    z-index: 902;
    background-color: rgb(250, 250, 250)!important;
    color: rgb(66, 82, 110)!important;
    border-bottom: 1px solid #dddddd;
}

.show-data-layer .layergrid-wrap {
    bottom: 0px !important;
}

.layergrid-wrap .wrap {
    display: block;
    width: 100%;
    height: calc( 100% - 100px);
    position: absolute;
    bottom: 0px;
}

.layergrid-wrap .content button {
    margin-left: 10px;
 }

 .layergrid-wrap .content .ant-select, .layergrid-wrap .content input {
    margin-left: 10px;
    font-size: 0.8em;
    text-transform: none !important;
}

.layergrid-wrap .ant-btn-primary:not([disabled]) {
    background-color: #096dd9;
    color: rgb(222, 235, 255)!important;
  }

.layergrid-wrap .ant-page-header-title-view-title {
    font-size: 14px;
    font-weight: 600;
    color: rgb(66, 82, 110)!important;
    letter-spacing: 0.5px !important;
    margin: 5px 0 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.layergrid-wrap .ant-page-header-content-view {
    padding-top: 0; 
}

.ant-select-dropdown-menu {
    font-size: 0.8em;
}
