@page
@model wms_ide.Pages.demo.mymapsModel
@{
    ViewData["Title"] = "mymaps";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- content section -->
<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 shop-cart-table">
                <table class="table shop-cart text-center">
                    <tbody>
                        <tr>
                            <td class="product-thumbnail text-left">
                                <a href="shop-single-product.html"><img src="http://placehold.it/120x120" alt=""></a>
                            </td>
                            <td class="text-left">
                                <a href="shop-single-product.html">Chasse Wells Italian Genuine Leather Incroyable Tote</a>
                                <span class="text-uppercase display-block text-small margin-two">SKU: 290397</span>
                                <a href="shop-single-product.html" class="text-small"><i class="fa fa-edit black-text"></i> Edit</a>
                            </td>
                            <td class="text-left">
                                $450
                            </td>
                            <td class="product-remove text-center">
                                <a href="javascript:void(0)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


